header{
	position:absolute;
	width: 100%;
	background-color: #f1c7aa;
  	margin-bottom: -20px;
  	margin-left: -8px;
  	margin-top: -8px;
}
h1 {
	color: #372637;/* Цвет заголовка */
  font-size: 30pt; /* Размер шрифта в пунктах */
  font-family: MADE TheArtist Sans, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  text-align: center;
  margin-top: 30px;
  margin-left: 18%;
  margin-right: 18%;
}
h2 {
	color: #372637;/* Цвет заголовка */
  font-size: 20pt; /* Размер шрифта в пунктах */
  font-family: MADE TheArtist Sans, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
  text-align: left;
  margin-top: 18px;
}
a{
	color: 372637 ; 
	text-decoration: none;
	font-size: 20pt;
	margin-top: 20px;
 margin-top: -5%
}
b{
	color: #000000;
}
.menu{
  font-family: MADE TheArtist Sans,  sans-serif; 
  text-align: left; 
	font-size: 20px;
	list-style: none;
  margin-left: 265px;
  word-spacing: 7px;


}

.button{
	width:200px;
	
}
.fon{
  position:absolute;
margin-left: -8px;
	  	margin-top: 4%;
    padding: 0;
	width: 100%;
		height:  100%;
  background: url(https://img.freepik.com/premium-vector/potted-plants-home-gardening-concept-modern-kitchen-interior-horizontal_48369-40901.jpg?w=1380) 100% 100%  ;
      background-size: cover;

}
.ikonka{
  position:absolute;

  background: url(img/6.png) ;
}

.title{
  font-family: MADE TheArtist Sans,  sans-serif; 
  
  	margin-left: 10%;
	font-size: 25pt;
	text-align: left;
	color: #372637;
}.shine-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f1c7aa;
  border-radius: 8px;
  font-family: 'MADE TheArtist Sans', sans-serif;
  color: #372637;
  transition: .2s ease-in-out;
  font-size: 13pt;
  margin-right: 35%;

}
.shine-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;

  transform: skewX(-45deg);
}
.shine-button:hover {
  background: #f1c7aa;
  color: #372637;
}
.shine-button:hover:before {

  transition: .5s ease-in-out;
}
.fon2{
  position:absolute;

/*  opacity: .92;*/
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ffffff;

}
.fon3{
  position:absolute;
  top: 15%;
  opacity: .92;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ffffff;

}


div#tekst_sverhu_kartinki 
{
position: relative;
}
.tekst_sverhu_kartinki {

	position: absolute;
	top: 50%;
	left: 65px;
	text-transform: uppercase;
	color: white;
	width: 350px;
	background: #00000094;
	padding: 10px;
	text-align: center;
	font: bold 24px/34px Helvetica, Sans-Serif;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 11.5pt;
text-align: left;

border-radius: 15px;
box-shadow: 0 0 0 10px #f1c7aa;
color: #f1c7aa;
table-layout:fixed;
padding-top:8px;
padding-bottom:5px;
}
th {
padding: 10px 8px;
background: white;
}
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  сursor: pointer;
}

.checkbox-wrapper label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.checkbox-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f1c7aa;
  border-radius: 50%;
}


.checkbox-wrapper label input:checked ~ span {
  background-color: #372637;
}


.checkbox-wrapper span:after {
  content: "";
  position: absolute;
  display: none;
}


.checkbox-wrapper label input:checked ~ span:after {
  display: block;
}


.checkbox-wrapper label span:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}